*{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}
body{
    background-color: #27ae60;
}

.title{
    text-align: center;
    padding-bottom: 150px;
    padding-top: 25px;
}

.nav{
    text-align: right;
    padding: 10px;
    background-color: #2f3640;
}

.nav a{
    text-decoration: none;
    color: white;
    padding: 10px;
    

}

.nav a:hover{
    color: #718093;
    text-decoration: underline;
    
}

.play{
    text-align: center;
    padding-bottom: 350px;
}

.button{
    float: initial;
    text-decoration: none;
    font-size: 50px;
    border: 2px solid #ffffff; 
    color: aliceblue;
    margin: 10px;
    padding: 15px;
    border-radius: 50px;
    margin-top: 50px;
    background-color: #1ba332;
    padding-bottom: 100 px;
}

.play :hover{
    color: #2c3e50;
}

.links{
    background-color: #1e272e;
    color: #d2dae2;
    
    
}

.insta{
    align-items: center;
    
}

.insta a{
    display: inline-block;
    color: white;
    padding: 10px;
    margin-left: 23%;

    
}

.insta a:hover{
    color: grey;
}
.made{
    text-align: center;
    padding-bottom: 50px;
    opacity: 70%;
}